* {
    margin: 0;
    padding: 0%;
}
header {
    background-color: rgb(4, 34, 58);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 100%;
}

main {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

footer {
    background-color: rgb(4, 34, 58);
    color: white;
    text-align: center;
    padding: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 100%;
}