/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}


/* ---------- HEADER ---------- */
.title {
  background-color: rgb(63, 1, 27);
  color: antiquewhite;
  text-align: center;
  font-weight:200;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}

/* ---------- NAVBAR ---------- */
nav, ul{
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: black;
  padding: 1rem;
  list-style: none;
  color: aliceblue;
  text-align: center; 
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: larger;
}

.navbar, a {
  text-decoration: none;
  color: aliceblue;
  padding: 15px 25px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 25px;

}

.navbar a:hover {
  background-color: rgb(233, 201, 21);
  color: black;
  transition: 0.3s;
}

/* ---------- MAIN ---------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
}

h1 { text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding: 1rem;
     }

/* ---------- CARDS ---------- */
.card1 {
  width: 45%;
  border: 1px solid rgb(219, 189, 20);
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
  flex: 1;
  
}


.about-image {
  max-width: 180px;
  text-align: center;
}

.self-portrait {
    width: 160px;
  height: auto;
  max-width: 180px;
}

/* Country card */

.country-text{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
}
.country-text {
  flex: 1;
}
.flag-box {
  width: 20%;
  max-width: 120px;
  min-width: 180px;
  text-align: center;
}
.country-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.flag-caption {
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 0.3rem;
}
.card2 {
  width: 25%;
  border: 1px solid rgb(219, 189, 20);
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}




.card-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

}

.card-container p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

h2, h3 {
    text-align: center;
    align-items: center;
    text-decoration: underline rgba(94, 0, 12, 0.87);
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


p{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ---------- RESOURCES ---------- */
.resources {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  gap: 2rem;
}


.resources a {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
    
}


.resources a:hover {
  text-decoration: underline;
  background-color: rgb(85, 1, 5);
  color: white;
  transition: 0.3s;

}

/* ---------- FOOTER ---------- */
footer {
  background-color: rgb(63, 1, 27);
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}


