* {
    margin: 0;
}

.hero img {
    width: 100%;
    height: auto;
    padding: 0%;
    display: block;
    max-width: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background-color: rgb(11, 47, 114);
    height: auto;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

body {
font-family: 'Roboto', sans-serif;
margin: 0;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 1rem;

}
.box {
    
    text-align: center;
    padding: 3rem;
    border-radius: 8px;
    background-color: pink;
    width: 300px;
    height: auto;

}



p {
    padding: 5px;
}

footer { 
    display: block;
    background-color: rgb(11, 47, 114);
    height: auto;
    color: white;
    padding: 1.5rem;
    text-align: center;
    margin: 0;

}






