@media (min-width: 550px) {

    main {
        position: relative;
        width: 100%;
    }

    main img {
        width: 100%;
        height: auto;
        display: block;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 

        display: flex;
        flex-direction:row ;
        gap: 400px;
    }


    .box {
        background-color: rgba(255, 0, 179, 0.75);
        color: #ffffff;
        backdrop-filter: blur(6px);
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    }







}