@media (min-width: 768px) {

  #menuButton {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
  }

  .logoTitle {
    margin-right: auto; 
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    position: static;  
    width: auto;        
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a { 
    color: white; 
    text-decoration: none; 
    font-size: large; 
    font-family: "Nunito", sans-serif; 
    border-radius: .5rem; 
    padding: 1rem; }

  .imagesDisplay {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: 0 auto;
  }
}
