body {
font-family: 'Roboto', sans-serif ;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(4, 105, 105);
    
}
h1 {
    text-align: center;
    color:#fff;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section {background-color: #fff;
    padding: 1rem;

}

